<h1>Admin Users</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Admin</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
        <tr>
        <th scope="row"> <%= user.name%> </th>
        <td><%= user.email%></td>
        <td><%= user.is_admin? ? 'yes' : 'no'%></td>
        <td>
        <%= link_to "Edit", edit_user_path(user), class: 'btn btn-primary'%>
        </td>
        </tr>
   <% end %>
  </tbody>
</table>